<h1>Questions</h1>
<div class="row">
  <div class="col-sm-8">
    <% @questions.each do |q| %>
      <div class='question-preview panel'>
        <div class="author">
          <%= image_tag q.user.gravatar_url, class: 'image_author'  %>
          <div class="name_author"><%= q.user.name %></div>
        </div>
        <div class="content">
          <h4 class="title"><%= link_to q.title, question_path(q) %></h4>
          <div class="excerpt"><%= truncate(q.description, length: 300) %></div>
          <% if current_user %>
            <% if current_user.id == q.user.id %>
              <div class="menu-questions">
                <ul>
                  <li class="edit"><%= fa_icon "edit" %><%= link_to ' Edit question', edit_question_path(q) %></li>
                  <li class="delete"><%= fa_icon "trash-o" %><%= link_to ' Delete question', question_path(q), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="data">
          <ul>
            <li><span class="answers_data"><%= q.answers.size %></span> answers</li>
            <li><%= fa_icon "thumbs-o-up" %> <%= q.votes.size %> votes</li>
            <li><%= fa_icon "comment-o" %> <%= q.comments.size %> comments</li>
            <li><%= fa_icon "clock-o" %> <%= q.created_at.pretty %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4"></div>
</div>
