<h1>Questions</h1>
<div class="row">
  <div class="col-sm-8">
    <% @questions.each do |q| %>
      <div class='question-preview panel'>
        <div class="author">
          <%= image_tag q.user.gravatar_url, class: 'image_author'  %>
          <div class="name_author"><%= q.user.name %></div>
        </div>
        <div class="content">
          <h4 class="title"><%= link_to q.title, question_path(q) %></h4>
          <div class="excerpt"><%= truncate(q.description, length: 300) %></div>
        </div>
        <div class="data">
          <ul>
            <li class="comments"><%= q.answers.size %></li>
            <li class="votes"><%= fa_icon "thumbs-o-up" %> <%= q.votes.size %> votes</li>
            <li class="time"><%= fa_icon "clock-o" %> <%= q.created_at.pretty %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4"></div>
</div>



