<div class="row">
  <div class="col-sm-8">
    <div class="question-full panel">
      <div class="author">
        <%= image_tag @question.user.gravatar_url, class: 'image_author'  %>
        <div class="name_author"><%= @question.user.name %></div>
      </div>
      <div class="content">
        <h1 class="title"><%= @question.title %></h1>
        <p><%= @question.description %></p>
        <div class="comments_to_question">
          <h4><%= @question.comments.count %> Comments for this question</h4>
          <% @question.comments.each do |c| %>
            <div class="comment">
              <div class="author_name"><%= c.user.name %></div>
              <div class="comment_text"><%= c.description %></div>
            </div>
          <% end %>
        </div>
        <% if current_user %>
          <% if current_user.id == @question.user.id %>
            <a href="" class="link add_comment">Add a comment</a>
            <div class="form_comment">
              <% if @errors %>
              <div class="alert alert-danger" role="alert">
                <ul>
                  <% @errors.each do |error| %>
                  <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
              <% end %>
              <%= form_for [@question, @question.comments.new] do |f| %>
                <div class="form-group">
                  <%= f.label 'Comment' %>
                  <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Write your comment here...' %>
                </div>
                <div class="form-group">
                  <%= f.submit "Add Comment", class: 'btn btn-custom' %>
                </div>
              <% end %>
            </div>
        <% end %>
      <% end %>
      </div>
      <div class="votes">
        <ul>
          <li><a class="up-vote" href="#"><%= fa_icon "thumbs-o-up" %></a></li>
          <li><span class="votes-total">0</span></li>
          <li><a class="down-vote" href="#"><%= fa_icon "thumbs-o-down" %></a></li>
        </ul>
      </div>
    </div>
    <div class="answers_to_question">
      <h3><%= @question.answers.count %> Answers</h3>
      <% @question.answers.each do |a| %>
        <div class="answer_single panel">
          <div class="author">
            <%= image_tag a.user.gravatar_url, class: 'image_author'  %>
            <div class="name_author"><%= a.user.name %></div>
          </div>
          <div class="content">
            <p><%= a.description %></p>
            <p class="time"><%= fa_icon "clock-o" %> <%= a.created_at.pretty %></p>
            <div class="comments_to_answer">
              <h4><%= a.comments.count %> Comments for this answer</h4>
              <% a.comments.each do |c| %>
                <div class="comment">
                  <div class="author_name"><%= c.user.name %></div>
                  <div class="comment_text"><%= c.description %></div>
                </div>
              <% end %>
            </div>
            <% if current_user %>
              <% if current_user.id == @question.user.id %>
                <a href="" class="link add_comment">Add a comment</a>
                <div class="form_comment">
                  <% if @errors %>
                  <div class="alert alert-danger" role="alert">
                    <ul>
                      <% @errors.each do |error| %>
                      <li><%= error %></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>
                  <%= form_for [a, a.comments.new] do |f| %>
                    <div class="form-group">
                      <%= f.label 'Comment' %>
                      <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Write your comment here...' %>
                    </div>
                    <div class="form-group">
                      <%= f.submit "Add Comment", class: 'btn btn-custom' %>
                    </div>
                  <% end %>
                </div>
            <% end %>
          <% end %>
          </div>
          <div class="votes">
            <ul>
              <li><a class="up-vote" href="#"><%= fa_icon "thumbs-o-up" %></a></li>
              <li><span class="votes-total">0</span></li>
              <li><a class="down-vote" href="#"><%= fa_icon "thumbs-o-down" %></a></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
    <% if current_user %>
      <% if current_user.id == @question.user.id %>
        <div class="your_answer">
          <h3>Your answer</h3>
          <div class="form_comment panel">
            <% if @errors %>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% @errors.each do |error| %>
                <li><%= error %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            <%= form_for [@question, @question.answers.new] do |f| %>
              <div class="form-group">
                <%= f.label 'Answer' %>
                <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Write your answer here...' %>
              </div>
              <div class="form-group">
                <%= f.submit "Add Comment", class: 'btn btn-custom' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-4"></div>
</div>
