<div class="row">
  <div class="col-sm-8">
    <div class="question panel">
      <h1><%= @question.title %></h1>
      <p><%= @question.description %></p>
      <h3><%= @question.comments.count %> Comments for this question</h3>
      <% @question.comments.each do |c| %>
        <div class="comment">
          <%= c.description %>
        </div>
      <% end %>
    </div>
    <div class="answers">
      <div class="count_answers"><%= @question.answers.count %> Answers</div>
      <% @question.answers.each do |a| %>
        <div class="answer_single panel">
          <div class="author">
            <%= image_tag a.user.gravatar_url, class: 'image_author'  %>
            <div class="name_author"><%= a.user.name %></div>
          </div>
          <div class="content">
            <p><%= a.description %></p>
            <p class="time"><%= fa_icon "clock-o" %> <%= a.created_at.pretty %></p>
            <h3><%= a.comments.count %> Comments for this answer</h3>
            <% a.comments.each do |c| %>
              <div class="comment">
                <%= c.description %>
              </div>
            <% end %>
          </div>
          <div class="data">

          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
